body{
    /* Фоновый цвет и фоновый рисунок*/
    background: url("../media/мульт_дерево.jpg");
    background-size: cover;
    overflow:hidden;
}
/* <!-- блок с соперниками -->............................... */
.div_opponents {
    position: absolute;
    width: 101%;
    height: 25%;
    margin-top: 0%;
    margin-left: -1%;
    display: flex;
    justify-content: space-evenly;
}

.div_opponents .player_info {
    margin-top: 5px;
    width: 17.5%;
    height: 80%;
}

.div_opponents .div_avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    width: 100%;
    height: 30%;
}

.div_opponents  .form_avatar {
    position: relative;
    width:17.5%;
    height: 95%;
    margin-top: 0;
    margin-left: 5%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-style:double;
    border-color: black;
}

.div_opponents .Nick_name {
    bottom: 20%;
    margin-left: 35%;
    font-weight: bold;
    font-size: 115%;
    color:#cf7c34;
}
/* .......................................................... */



/* блок с картами игры (двери/сокровища)..................... */
.game_cards {
    position: absolute;
    width: 20%;
    height: 35%;
    margin-top: 15%;
    display: flex;
    flex-direction: row;
}

.div_doors_treasures {
    width: 30%;
    height: 50%;
}

.div_drop_cards {
    width: 30%;
    height: 50%;
    padding-left: 7.5px;
}


.div_doors_treasures img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.game_cards .card {
    width: 100%;
    height: 100%;
}

.game_cards .card:hover {
    width: 100%;
    height: 100%;
    transform: none;
}
/* .......................................................... */

.player_interface {
    width: 99%;
    height: 26%;
    margin-right: 1px;
    display: flex;
    position:absolute;
    bottom:0;
}
/* юи игрока............................................................... */
.player_info {
    display: flex;
    flex-direction: column;
    width: 18%;
    height: 90%;
    margin-left: 3%;
    margin-bottom: 0.2%;

    border-style:double;
    border-color: black;
}

/* блок с аватаром и ником..............................................*/
.div_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 30%;
}

.background_div_avatar {
    position:absolute;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
}

.form_avatar {
    position: absolute;
    width:20%;
    height: 110%;
    margin-top: -20%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-style:double;
    border-color: black;
}

.avatar {
    max-width: 110%;
    max-height: 110%;
    min-width: 110%;
    min-height: 110%;
}

.Nick_name {
    position: absolute;
    bottom: 5%;
    font-weight: bold;
    font-size: 115%;
    color:#cf7c34;
}
/* .......................................................... */

/* блок с визуальной информацией............................ */
.visual_info_div {
    display: flex;
    width: 100%;
    height: 20%;
}

.visual_info_div div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33.4%;
    border-style:solid;
    background-image: url(../media/Табличка.PNG);
}
/* ............................................................ */


/* блок с кнопками............................................ */
.buttons_div {
    width: 100%;
    height: 50%;
    margin-top: 1.5%;
    background-image: url("../media/мульт_форма.jpg");

}

.buttons_up {
    display: flex;
    width: 100%;
    height: 47%;
}

.buttons_up form {
    width: 33.4%;
    height: 100%;
}
.buttons_down {
    display: flex;
    width: 100%;
    height: 47%;
}

.buttons_down form {
    width: 50%;
    height: 115%;
}

.buttons_div button {
    width: 100%;
    height: 100%;
    font-size: 115%;
    color:#e9dcd2;
    background-image: url("../media/фон\ кнопок1.jpg");
}
/* ............................................................ */


/*карты игрока..................................................*/
.player_cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    margin-left: 1%;
    padding-left: 25px;
}

.card {
    background-color: #DEB887;
    width: 12%;
    height: 70%;
    margin-bottom: 2%;
    border-radius: 3%;
    border-style: double;
    border-color: black;
}

.card_in_hend {
    text-align: center;
    font-size: 10px;
    margin-left: -25px;
}

.card_in_hend img {
    max-width: 100%;
    max-height: 100%;
}

.card:hover {
    transform: scale(1.3);
}
/* ................................................................. */


/* действия игрока............................................. */
.player_action {
    width: 15%;
    height: 45%;
    margin-left: 5%;
    margin-top: 5%;
}

.player_action form {
    width: 100%;
    height: 50%;
}
.player_action button {
    width: 100%;
    height: 100%;
    font-size: 90%;
    background-image: url(../media/Табличка.PNG);
}

#drop_doors {
    text-align: center;
    font-size: 10px;
}

#drop_treasures{
    text-align: center;
    font-size: 10px;
}

#race_card{
    text-align: center;
    font-size: 10px;
}

#class_card{
    text-align: center;
    font-size: 10px;
}

#item_card{
    text-align: center;
    font-size: 10px;
}

#curse_card{
    text-align: center;
    font-size: 10px;
}

#img_1{
    max-width: 30%;
    max-height: 45%;
}
/* ............................................................ */

/* <!-- всплывающее окно, при нажатии на карту -->............. */
.card_window {
    display:none;
    position: absolute;
    margin: 0% 37%;
    width: 20%;
    height: 83%;
    border-radius: 3%;
    background-image: url(../media/мульт_форма.jpg);
    border-style: groove;
    border-color:rgb(192, 50, 7);
    border-width: 5px;
}

.card_window .card {
    text-align: center;
    margin: 5% auto;
    width: 80%;
    height: 60%;
}

.card_window .card:hover {
    transform: scale(1);
}

.card_window_buttons {
    margin: 5% auto;
    width: 75%;
    height: 30%;
}

.line_buttons {
    width: 100%;
    height: 18%;
    display: flex;
    margin-top: 10px;
}

.line_buttons form {
    width: 50%;
    height: 100%;
    margin-left: 5px;
    margin-top: 5px;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.line_buttons button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
}

.div_exit_button {
    width: 100%;
    height: 18%;
    margin-top: 7%;
}

.div_exit_button form {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.div_exit_button button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
    font-size: 80%;
}
/* ............................................................ */

/* <!--Всплывающее окно с картами игрока, при нажатии на кнопку просмотра специальных карт-->> */
.window_player_race_card {
    width: 50%;
    height: 65%;
    position: absolute;
    display: none;
    margin: 7% 23%;
    background-image: url(../media/мульт_форма.jpg);
    border-style: groove;
    border-color:rgb(192, 50, 7);
    border-width: 5px;
    border-radius: 3%;
    overflow: hidden;
}

.window_player_race_card .card{
    width: 15%;
    height: 45%;
}

.window_player_race_card form{
    width: 15%;
    height: 8%;
    margin: 1% auto;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.window_player_race_card button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
}

.window_player_class_card {
    width: 50%;
    height: 65%;
    position: absolute;
    display: none;
    margin: 7% 23%;
    background-image: url(../media/мульт_форма.jpg);
    border-style: groove;
    border-color:rgb(192, 50, 7);
    border-width: 5px;
    border-radius: 3%;
    overflow: hidden;
}

.window_player_class_card .card{
    width: 15%;
    height: 45%;

}

.window_player_class_card form{
    width: 15%;
    height: 8%;
    margin: 1% auto;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.window_player_class_card button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
}

.window_player_clothes_card {
    width: 50%;
    height: 65%;
    position: absolute;
    display: none;
    margin: 7% 23%;
    background-image: url(../media/мульт_форма.jpg);
    border-style: groove;
    border-color:rgb(192, 50, 7);
    border-width: 5px;
    border-radius: 3%;
    overflow: hidden;
}

.window_player_clothes_card .card{
    width: 15%;
    height: 45%;

}

.window_player_clothes_card form{
    width: 15%;
    height: 8%;
    margin: 1% auto;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.window_player_clothes_card button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
}

.window_player_inventory_card {
    width: 50%;
    height: 65%;
    position: absolute;
    display: none;
    margin: 7% 23%;
    background-image: url(../media/мульт_форма.jpg);
    border-style: groove;
    border-color:rgb(192, 50, 7);
    border-width: 5px;
    border-radius: 3%;
    overflow: hidden;
}

.window_player_inventory_card .card{
    width: 15%;
    height: 45%;

}

.window_player_inventory_card form{
    width: 15%;
    height: 8%;
    margin: 1% auto;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.window_player_inventory_card button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
}




.window_player_curse_card {
    width: 50%;
    height: 65%;
    position: absolute;
    display: none;
    margin: 7% 23%;
    background-image: url(../media/мульт_форма.jpg);
    border-style: groove;
    border-color:rgb(192, 50, 7);
    border-width: 5px;
    border-radius: 3%;
    overflow: hidden;
}

.window_player_curse_card .card{
    width: 15%;
    height: 45%;

}

.window_player_curse_card form{
    width: 15%;
    height: 8%;
    margin: 1% auto;
    border-style:ridge;
    border-color: rgb(201, 188, 188);
}

.window_player_curse_card button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
}

.special_card_name {
    text-align: center;
    color:#e9dcd2;
    font-size: 20px;
}

.line {
    border-bottom: 2px solid 	#8B4513;
}

.div_special_card {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap:wrap;
}


/* .............................................................................................*/

/* окно боя..................................................................................... */
.fight_window {
    width: 45%;
    height: 55%;
    margin: 11.5% 26%;
    position: absolute;
    background-image: url(../media/мульт_форма.jpg);
    display: flex;
    border-radius: 3%;
    border-style: groove;
    border-color:	#8B4513;
    overflow: hidden;
}

.monster_cards {
    width: 40%;
    height: 100%;
}

.line_fight {
    height: 100%;
    background-color: #8B4513;
    border-left: 2px solid rgb(192, 50, 7);
}

.fight_buttons {
    width: 20%;
    height: 100%;
    padding-top: 30%;
}

.fight_buttons form {
    width: 100%;
    height: 10%;
    margin-top: 10%;
}

.fight_buttons button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
    font-size: 15px
}

.fight_buttons p {
    margin-top: -137%;
    margin-bottom: 70%;
    margin-left: 25%;
    font-size: 20px;
    color:#e9dcd2;
}

.player_fight {
    width: 40%;
    height: 100%;
}

.player_fight .div_avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    width: 100%;
    height: 12%;
}

.player_fight  .form_avatar {
    position: relative;
    width:17.5%;
    height: 95%;
    margin-top: 0;
    margin-left: 5%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-style:double;
    border-color: black;
}

.player_fight .Nick_name {
    bottom: 25%;
    margin-left: 35%;
    font-weight: bold;
    font-size: 115%;
    color:#cf7c34;
}

.monster_cards .div_avatar {
    height: 12%;
}

.monster_cards .Nick_name {
    bottom: 25%;
}

.cards_fight {
    width: 100%;
    height: 87.5%;
    margin-top: 2%;
    display: flex;
    flex-wrap:wrap;
}

.cards_fight .card {
    width: 40%;
    height: 45%;
    margin-left: 5%;
}

.cards_fight .card:hover {
    transform: scale(1);
}
/* .............................................................................................*/

/* <!-- Всплывающее окно подтверждения победы над монстром   -->............................... */
.window_success {
    width: 30%;
    height: 200px;
    position: absolute;
    background-image: url(../media/мульт_форма.jpg);
    border-radius: 3%;
    border-style: groove;
    border-color:rgb(192, 50, 7);
    overflow: hidden;
    margin: 0% 33%;
    display: none;
    flex-direction:column;
    flex-wrap:wrap;
    align-items: center;
}

.window_success p {
    font-size: 20px;
    color:#e9dcd2;
}

.success_button {
    margin-top: 5%;
    width: 50%;
    height: 20%;
    display: flex;
}

.success_button form {
    width: 45%;
    height: 100%;
    margin-left: 3%;
}

.success_button button {
    width: 100%;
    height: 100%;
    background-image: url(../media/Табличка.PNG);
    font-size: 15px;
}


/* .............................................................................................*/
